<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131375127170-i1bb28p34qcd56knuhnjk49i1035thkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131375127170-i1bb28p34qcd56knuhnjk49i1035thkd</string>
	<key>API_KEY</key>
	<string>AIzaSyBG_51MjnqqH-R6CTzpl2khgqdpl1GUclY</string>
	<key>GCM_SENDER_ID</key>
	<string>131375127170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onigiri.coriander</string>
	<key>PROJECT_ID</key>
	<string>coriander-app-cc540</string>
	<key>STORAGE_BUCKET</key>
	<string>coriander-app-cc540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131375127170:ios:fabcdec5854a9b903ab29b</string>
</dict>
</plist>